.array-visualization-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #deff0626;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
  }
  
  .array-visualization-container .input-container {
    margin-bottom: 10px;
  }
  
  .array-visualization-container .input-container input {
    margin-right: 10px;
    padding: 5px;
  }
  
  .array-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .array-container .array-elements {
    display: flex;
    flex-wrap: wrap;
  }
  
  .array-container .array-element {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #06d6ff46;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .array-container .array-element span {
    margin-right: 5px;
  }
  
  .array-container .search-result {
    margin-top: 10px;
  }
  